accelerate
codetiming
datasets
dill
flash-attn
hydra-core
numpy
pandas
peft
pyarrow>=15.0.0
pybind11
ray[data,train,tune,serve]
tensordict<=0.6.2
torchdata
transformers
vllm==0.8.5.post1
math-verify
wandb
liger-kernel
pylatexenc
omegaconf
hf_transfer
mathruler
sqlglot
nltk
pydantic
langchain
langchain_community
vllm
func_timeout
langchain_openai
flashinfer-python